<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ApacheAnt-Suite" thread-count="1">
	<test name="TestApacheAntManager">
		<classes>
			<class name="com.test.TestManager"/>			
		</classes>
	</test>
	<test name="TestApacheAntClient">
		<classes>
			<class name="com.test.TestClient"/>			
		</classes>
	</test>
</suite>